@import '@repo/tailwind-config/shared-styles.css';
@import '@repo/ui/styles.css';

/* Default navbar height */
:root {
  --navbar-height-injected: 96px;
}

.navbar-offset {
  margin-top: var(--navbar-height-injected);
}

/* Override on small screens */
@media (max-width: 768px) {
  :root {
    --navbar-height-injected: 152px;
  }
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat'), url(/font/Montserrat-Thin.ttf);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 100;
  src: local('Montserrat'), url(/font/Montserrat-ThinItalic.ttf);
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat'), url(/font/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200;
  src: local('Montserrat'), url(/font/Montserrat-ExtraLightItalic.ttf);
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat'), url(/font/Montserrat-Light.ttf);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat'), url(/font/Montserrat-LightItalic.ttf);
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url(/font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat'), url(/font/Montserrat-RegularItalic.ttf);
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat'), url(/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat'), url(/font/Montserrat-MediumItalic.ttf);
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat'), url(/font/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat'), url(/font/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'), url(/font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat'), url(/font/Montserrat-BoldItalic.ttf);
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat'), url(/font/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat'), url(/font/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat'), url(/font/Montserrat-Black.ttf);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  src: local('Montserrat'), url(/font/Montserrat-BlackItalic.ttf);
}
